@tailwind base;
@tailwind components;
@tailwind utilities;
@media only screen and (max-width: 290px){
  .bn{
    width: 50px !important;
  }
  }
  html{
    background-color: black;
    
  }
  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  .animate-fall {
    animation: fall linear infinite;
  }